@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: theme("border-color", #d8cabc);
  }
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
  }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}